{% extends 'MyApp/base.html' %}
{% block content %}
<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Info</title>
</head>
<body>
	<h1 style="color: blue">*****RAHAT SALIM*****</h1><br>
	<p>I am from Bihar. Completed my B.Tech from "Techno India University" with 7.91 CGPA in Electronics and Communication from Kolkata.</p><br>
	<p>Done my 12th from my State Board in Science with "Distinction" in Math And chemestry, about my 10th not neccessary to declear ...!!</p>
	<p><b>FAMILY</b><br>We are seven member family including my parents and bhabi, i am second among four brothers. </p>
</body>
</html>


{% endblock %}